*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
    display:flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.header {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px;
  position: relative;
}

:root{
    --light-bg: #f5f5f5;
    --dark-bg: #121212;

    --light-container: #ffffff;
    --dark-container: #1e1e1e;

    --light-text: #222;
    --dark-text: #f5f5f5;

    --accent: darkcyan;
    --accent-hover: cadetblue;
    --danger: red;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 4px 8px;
}

.theme-btn:hover{
    transform: scale(1.2);
}

body.light-mode{
    background : var(--light-bg);
    color: var(--light-text);
}
body.light-mode .to-do-container{
    background: var(--light-container);
    box-shadow: 0vmin 0vmin 2vmin rgba(0,0,0,0.3);
}

body.dark-mode{
    background : var(--dark-bg);
    color: var(--dark-text);
}

body.dark-mode .to-do-container{
    background:  var(--dark-container);
    box-shadow: 0vmin 0vmin 2vmin rgba(0,0,0,0.7);
}

body.dark-mode .task-summary,
body.dark-mode #task-list li,
body.dark-mode h1{
    color: #f5f5f5;
}
body.light-mode .task-summary,
body.light-mode #task-list li{
    color: #222;
}

.to-do-container{
    background-color: gray;
    padding:30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0vmin 0vmin 2vmin rgba(0,0,0,0.3);
    width:300px;
    height: fit-content;
    width: 400px;
}
h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    text-shadow: 1px 1px 2px white;
}

.input-field{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#task-input{
    padding:10px;
    width:60%;
    border:1px solid black;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    background-color: darkgray;
    color: black;
    font-size: medium;
}
#add-task-btn{
    padding:10px;
    font-size: 15px;
    background-color: var(--accent);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    color:black;
    font-weight: bold;

}
#add-task-btn:hover{
    background: var(--accent-hover);
    color:black;
}
#add-category{
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkcyan;
    color: black;
}
#task-list{
    list-style-type: square;
    padding-left: 20px;
    max-height: fit-content;
}
.deleteBtn{
    cursor:pointer;
    background: var(--accent);
    color: black;
    border:none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.editBtn{
    cursor:pointer;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.completed{
    text-decoration: none;
    ;
}

.filter-buttons{
    display:flex;
    justify-content: space-around;
    margin-top: 10px auto;
    margin-bottom: 10px;
}

.filter-buttons button{
    cursor: pointer;
    background : var(--accent);
    color:black;
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    font-weight: bold;
}

.filter-buttons button.active , .filter-buttons button:hover{
    background : var(--accent-hover);
    color: black;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

#sort-tasks{
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#task-category{
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#task-list li{
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

#task-list li.completed{
    text-decoration: solid;
    color:green;
}

#task-list li.pending{
    color:red;
}

#task-list li button{
    font-size: medium;
    padding: 3px 5px;
}

#task-list li button:hover{
    background-color: lightgray;
    color:black;
}

.task-summary{
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    
}

#delete-modal{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    color: black;
    box-shadow: 0vmin 0vmin 2vmin rgba(0,0,0,0.5);
}
.modal-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#confirm-delete, #cancel-delete{
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#confirm-delete{
    background-color: red;
    color: whitesmoke;
}
#cancel-delete{
    background-color: grey;
    color: darkslategrey;
}
#confirm-delete:hover{
    background-color: darkred;
}
#cancel-delete:hover{
    background-color: darkgrey;
}

@media (max-width: 600px){
    .to-do-container{
        width: 100%;
        padding: 10px;
    }

    input , select , button{
        width: 100%;
        margin: 7px 0;
    }

    .controls{
        flex-direction: column;
    }
}


